<style type="text/css">
	${demo.css}
</style>

<script type="text/javascript">
	
	function geraGraficoDrilldown(regioes, estados){
	   // Create the chart
		$('#container1').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: 'Quantidade de atendimentos por Região / Estado'
			},
			xAxis: {
				type: 'category',
				title: {
					text: 'Regiões'
				}
			},
			yAxis: {
				title: {
					text: 'Quantidade de Atendimentos'
				}
			},
			legend: {
				enabled: false
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true
					}
				}
			},
			series: [{
				name: 'Regiões',
				colorByPoint: true,
				data: regioes
			}],
			drilldown: {
				name: 'Estados',
				colorByPoint: true,
				series: estados
			}
		});	
	}
	
	function geraGraficoPizza(informacoes){
		$('#container2').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false
			},
			title: {
				text: 'Porcentagem por tipo de atendimento'
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br>({point.y} Atendimentos)'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.1f} %<br>({point.y} Atendimentos)',
						style: {
							color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
						}
					}
				}
			},
			series: [{
				type: 'pie',
				name: 'Percentual atendimentos',
				data: informacoes
			}],
					exporting: {
				enabled: false
			}
		});
	}
	
	$(function () {
		
		$.ajax({
		  method: "POST",
		  url: urlAjax,
		  'async': false,
		  data: { act: "recuperaJsonRegioes" },
		  dataType: "json"
		}).success(function( retorno ) {
			geraGraficoDrilldown(retorno[0],retorno[1]);
			geraGraficoPizza(retorno[2]);
			montaListaRegioes(retorno[0]);
		});
		
		$('#tabelaAtendimento').bootstrapTable({ data: [] });
	});

	function popupEstados(regiao){
		pausaSlide();
		
		//configurando a modal
		$.ajax({
		  method: "POST",
		  url: urlAjax,
		  'async': false,
		  data: { act: "recuperaAtendimentosPorRegiao", regcod: regiao },
		  dataType: "json"
		}).success(function( retorno ) {
			$('#tabelaAtendimento').bootstrapTable('load',retorno );
		});
		
		$('#tituloModal').html("Região - <strong>" + $('#labelNomeRegiao' + regiao).html() + "</strong>");
		$('#janelaModal').modal();
	}
	
	function montaListaRegioes(regioes){
		$.each(regioes, function( index, value ) {
		  
		  var nota;
		  if(value['y'] != 0){
			nota = (value['nota'] / value['y']).toFixed(2);
		  }else{
			nota = '0.00';
		  }
		  $('#notaRegiao' + value['regcod']).html(nota);
		  
		  var icone = "";
		  if(nota >= 0 && nota <= 3.3){
			 icone = '<img src="imagens/Circle_Red.png" style="width:20px; height:20px;" title="Crítico"/>';		
		  }else if(nota > 3.3 && nota <= 6.6 ){
			 icone = '<img src="imagens/Circle_Yellow.png" style="width:20px; height:20px;" title="Merece atenção"/>';				
		  }else if(nota > 6.6 && nota <= 10){
			 icone = '<img src="imagens/Circle_Green.png" style="width:20px; height:20px;" title="OK"/>';			  
		  }else{
			 icone = '-';		  
		  }
		  
		  $('#situacaoRegiao' + value['regcod']).html(icone);
		});
	}

</script>	

<div class="caixa_conteudo" style="height: 100%;">
	<div class="caixa_titulo">
		<div class="iconeTitulo1"></div>
		<div class="label_titulo" style="width: 340px; margin-top: 7px;">
			Monitoramento
		</div>
		<div class="linha">&nbsp;</div>
	</div>
	<div>
		<div id="container1" style="min-width: 310px; height: 280px; margin: 0 auto"></div>
		<div class="linha">&nbsp;</div>
		<div id="container2" style="float:left; width: 400px; height: 260px; border-right: 1px #CCCCCC solid;"></div>
		
		<div id="container3" style="float:right; width: 400px; height: 260px; margin: 0; background-color: #FFFFFF;">
			<div class="tituloGraficos">Nota média de atendimentos por região</div>
			<div style="text-align:center; margin-bottom:10px;">			
				<img src="imagens/Circle_Green.png" style="width:15px; height:15px;" title="OK"/> Ok /
				<img src="imagens/Circle_Yellow.png" style="width:15px; height:15px;" title="Merece atenção"/> Merece atenção /
				<img src="imagens/Circle_Red.png" style="width:15px; height:15px;" title="Crítico"/> Crítico
			</div>
			<table class="tabelaSimples tabelaRegiao" cellspacing="0">
				<thead>
					<tr id="trCabecalho">
						<th class="negrito" style="text-align: left;">
							Região
						</th>
						 <th class="negrito" style="text-align:center;">
							Nota Média
						</th>
						<th class="negrito" style="text-align:center;">
							Situação
						</th>
					</tr>
				</thead> 
				<tbody style="text-align:center;">
					<tr style="background-color: #D6D6D6; cursor:pointer;" onclick="popupEstados(1)">
						<td style="text-align:left;" class="negrito"><label id="labelNomeRegiao1">Norte</label></td>
						<td id="notaRegiao1"></td>
						<td id="situacaoRegiao1"></td>
					</tr>
					<tr style="background-color: #E0E0E0; cursor:pointer;" onclick="popupEstados(2)">
						<td style="text-align:left;" class="negrito"><label id="labelNomeRegiao2">Nordeste</label></td>
						<td id="notaRegiao2"></td>
						<td id="situacaoRegiao2"></td>
					</tr>
					<tr style="background-color: #EBEBEB; cursor:pointer;" onclick="popupEstados(5)">
						<td style="text-align:left;" class="negrito"><label id="labelNomeRegiao5">Centro-Oeste</label></td>
						<td id="notaRegiao5"></td>
						<td id="situacaoRegiao5"></td>
					</tr>
					<tr style="background-color: #F5F5F5; cursor:pointer;" onclick="popupEstados(3)">
						<td style="text-align:left;" class="negrito"><label id="labelNomeRegiao3">Sudeste</label></td>
						<td id="notaRegiao3"></td>
						<td id="situacaoRegiao3"></td>
					</tr>					
					<tr style="background-color: #F5F5F5; cursor:pointer;" onclick="popupEstados(4)">
						<td style="text-align:left;" class="negrito"><label id="labelNomeRegiao4">Sul</label></td>
						<td id="notaRegiao4"></td>
						<td id="situacaoRegiao4"></td>
					</tr>
				</tbody>
			</table>		
		</div>
		<div class="linha">&nbsp;</div>
	</div>
</div>
<!-- Código da modal -->
<div class="modal fade" id="janelaModal" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:97%; height:70%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="tituloModal">Atendimentos por Região</h4>
        </div>		
		<table id="tabelaAtendimento" data-toggle="table" 
			   data-classes="table table-hover"
			   data-sort-name="estdescricao"
			   data-sort-order="desc"
			   data-striped="true"
			   data-page-size="6"
			   data-pagination="true"
			   data-search="true">
			<thead>
				<tr>
					<th data-sortable="true" data-field="dataatendimento">Data</th>
					<th data-sortable="true" data-field="tianome">Tipo Atendimento</th>
					<th data-sortable="true" data-field="atenome">Atendente</th>
					<th data-sortable="true" data-field="poanome">Ponto de Atendimento</th>
					<th data-sortable="true" data-field="estdescricao">Estado</th>
					<th data-sortable="true" data-field="mundescricao">Município</th>				
					<th data-sortable="true" data-field="nota">Nota</th>
					<th data-sortable="true" data-field="tempo">Tempo</th>
				</tr>
			</thead>
		</table>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
