			html {
                height: 100%;
            }
            body{
                /* border-bottom: #7F7F7F 35px solid; */
            }

            html, body{
                padding: 0px;
                margin: 0px;
                background-color: #E2E2E2;
                font: 16px "Archivo Narrow", sans-serif;
                min-width: 850px;
            }

            .titulo{
                background-image: url('../imagens/img_fundo.png');
                background-repeat: repeat;
                background-position: left;
                background-color: #B9B9B9;
				height: 135px;
                width: 100%;
                padding-top: 5px;
            }

            .aba_fundo{
                width: 100%;
                height: 140px;
                background-image: url('../imagens/aba_fundo.png');
                background-repeat: repeat-x;
            }

            .conteudo{
                padding: 10px;
                margin: auto;
                width: 900px;
                height: 650px;
            }

            .caixa_conteudo{
                background-color: #FAFAFA;
                border-bottom: #7F7F7F 5px solid;
                width: 850px;
                padding: 20px;
                float: left;
                margin: 5px auto 5px auto;
                color: #666666;
            }

            .caixa_titulo{
                margin-bottom: 5px;
                color: #7F7F7F;
                font-size: 16px;
                font-weight: bold;
                width: 100%;
                text-transform: uppercase;
                height: 50px;
                position: relative;
            }

            .linha{
                width: 100%;
                height: 1px;
                background-color: #CCCCCC;
                float: left;
                margin-top: 3px;
            }

            .label_titulo{
                width: 200px;
                float: left;
				font-size: 20px;
            }

            .tabelaSimples{
                width: 100%;
            }

            .tabelaSimples tr th{
                font-weight: normal;
                color: #F56131;
                padding: 5px;
            }

            .tabelaSimples tbody tr td{
                text-align: center;
                padding: 5px;
            }

            .negrito{
                font-weight: bold !important;
            }

            .label_maior{
                font-size: 25px;
                font-weight: bold;
                color: #FF6634;
            }

            .label_media{
                font-size: 15px;
                margin-top: 10px;
                color: #7F7F7F;
                text-transform: none;
                font-weight: normal;
            }

            .label_menor{
                font-size: 12px;
                color: #7F7F7F;
                text-transform: none;
                font-weight: normal;
            }
			
			.imgCarregando{
				background-image: url('../imagens/carregando.gif');
				margin: auto;
				width: 25px;
				height: 25px;
				position: relative;
				top: 50px;
			}

            br {
                clear: both;
            }

            br.simples {
                clear: none;
            }

            a, a:VISITED {
                text-decoration: none;
                color: #7A5353;
            }

            a:hover{
                text-decoration: underline;
            }

            #conteudoTitulo{
                width: 850px;
                margin: auto;
            }

            #logosTitulo{
                float: right;
                height: 49px;
                width: 600px;
            }

			.lbl_atualizacao{
				position: absolute;
				bottom: 0;
				right: 0;
			}
			
			.caixaEsquerdaPequena{
				width: 300px;
				float: left;
			}	
			
			.caixaDireitaMedia{
				width: 510px;
				float: right;
			}

			.caixaCentro{
				width: 860px;
				float: right;
			}

			.iconeTitulo1{
				width: 40px;
				height: 40px;
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
				background-image: url('../imagens/icone_revitalizacao_grafico.png');
			}
			
			.iconeTitulo2{
				width: 40px;
				height: 40px;
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
				background-image: url('../imagens/icone_revitalizacao.png');
			}


			.iconeProximo{
				float:right;
				width: 31px;
				height: 31px;
				margin-right: 10px;
				cursor:pointer;
				background-image: url('../imagens/navegacao2.png');
				background-repeat: no-repeat;
				background-position: -108px 0px;	
			}
			
			.iconeProximo:hover{
				background-position: -180px 0px;
            }
			
			.iconePlay{
				float:left;
				width: 25px;
				height: 25px;
				margin: 0px;
				cursor:pointer;
				background-image: url('../imagens/icone_play_stop_small.png');
				background-repeat: no-repeat;
				background-position: -0px 0px;	
			}
			
			.iconePlay:hover{
				background-position: -25px 0px;
            }	
			
			.iconeStop{
				float:right;			
				width: 25px;
				height: 25px;
				margin: 0px;
				cursor:pointer;
				background-image: url('../imagens/icone_play_stop_small.png');
				background-repeat: no-repeat;
				background-position: -0px -25px;	
			}
			
			.iconeStop:hover{
				background-position: -25px -25px;
            }
			
			.linkTelaAtual{
				font-weight:bold;
			}
			
			.iconeAnterior{
				float:left;
				width: 31px;
				height: 31px;
				margin-left: 20px;
				cursor:pointer;
				background-image: url('../imagens/navegacao2.png');
				background-repeat: no-repeat;
				background-position: -72px 0px;				
			}
			
			.iconeAnterior:hover{
				background-position: -143px 0px;
            }
			
			.tituloGraficos{
			text-align:center; 
			margin-top:5px;
			margin-bottom:0px; 
			color: #333333; 
			font-size: 18px; 
			font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
			
			}
			
			.tabelaRegiao tr:hover:not(#trCabecalho){
				background-color: #ffff99 !important;		
			}			
			
/********************************  
******** Estilos do mapa ******** 
*********************************/

			.str0{
				cursor:pointer;
			}

			.str0:hover{
				fill:#c1c1c1 !important;
				opacity:0.5;
			}